
<h2>Review your order:</h2>
<table>
  <thead>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th>Count</th>
          <th>Total Price</th>
      </tr>
  </thead>
  <tbody>
      <!-- Add table rows here for data -->
      <tr *ngFor="let item of items; let i = index;">
          <td>{{i + 1}}</td>
          <td>{{item.name}}</td>
          <td>${{item.price}}</td>
          <td>{{item.count}}</td>
          <td>${{item.price * item.count}}</td>
      </tr>
      <!-- Add more rows as needed -->
  </tbody>
</table>
  <!-- order table -->
<p #totalPriceElement>Total items: {{items.length}}. <b>Total bill: {{totalBill}}$</b></p>
<div class="container">
    <h2>Customer Information</h2>
    <form id="customerForm">
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <textarea id="address" name="address"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Complete the order">
      </div>
    </form>
  </div>