
<h2>Проверьте ваш заказ:</h2>
<table>
  <thead>
      <tr>
          <th>№</th>
          <th>Наименование</th>
          <th>Цена за 1 шт.</th>
          <th>Количество</th>
          <th>Общая цена</th>
      </tr>
  </thead>
  <tbody>
      <!-- Add table rows here for data -->
      <tr *ngFor="let item of items; let i = index;">
          <td>{{i + 1}}</td>
          <td>{{item.name}}</td>
          <td>${{item.price}}</td>
          <td>{{item.count}}</td>
          <td>${{item.price * item.count}}</td>
      </tr>
      <!-- Add more rows as needed -->
  </tbody>
</table>
  <!-- order table -->
<p *ngIf="totalBill>0" #totalPriceElement>Всего позиций: {{items.length}}. <b>Общая сумма: {{totalBill}}.00₽</b></p>
<p *ngIf="totalBill==0">В корзине ничего нет. Добавьте предметы из меню с товарами.</p>

<div class="container">
    <h2>Информация о покупателе</h2>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" id="customerForm">
      <div class="form-group">
        <label for="fullName">Ваше ФИО:</label>
        <input type="text" id="fullName" name="fullName" formControlName="fullName" required>
      </div>
      <div class="form-group">
        <label for="email">Ваш E-mail:</label>
        <input type="email" id="email" name="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="phone">Ваш номер телефона:</label>
        <input type="tel" id="phone" name="phone" formControlName="phone">
      </div>
      <div class="form-group">
        <label for="address">Адрес для отгрузки:</label>
        <textarea id="address" name="address" formControlName="address"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Отправить заказ">
      </div>
    </form>
  </div>