<div class="cart-container">
  <h2>Корзина</h2>
  <ul class="cart-list">
    <li class="cart-item" *ngFor="let item of items">
      <img src="/assets/images_local/{{item.imageUrl}}" alt="Product 1">
      <div class="item-details">
        <h3>{{ item.name }}</h3>
        <p>Стоимость: {{ item.price }}.00₽</p>
        <p>Количество: {{item.count}}</p>
      </div>
      <div class="position-right">
        <button (click)="increaseCount(item)" class="cart-button">➕</button>
        <button (click)="decreaseCount(item)" class="cart-button">➖</button>
        <button (click)="deleteItem(item)" class="cart-button">🗑️</button>
      </div>
    </li>
  </ul>
    <div *ngIf="items.length < 1" class="empty-cart">
      <p>В корзине ничего нет. Добавьте предметы из меню с товарами.</p>
    </div>
  <span *ngIf="items.length > 0"><a routerLink="/order" class="continue-btn">Перейти к заказу</a></span>
</div>